@import "myreset/normal.css";

main,div{
  border:1px solid black;
  margin:1px;
  padding:10px;
}
:root{
  --color:red;
}
*{
  background-color: white;
}
div{
  background-color: var(--color)!important;
  background-color: aqua;
}
.icon{
  background-color: blue;
}